body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
}

.margin {
    background: #f59c7a;
    position: relative;
    border: 1px dashed #333;
    padding: 50px;
    width: 800px;
}

.border {
    background: #ffe7c6;
    border: 1px dashed #333;
    position: relative;
    padding: 40px;
}

.padding {
    background: #8ee492;
    border: 1px dashed #333;
    padding: 40px;
    position: relative;
}
  
.content {
    background: #a9cfe3;
    border: 1px dashed #333;
    padding: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.label {
    position: absolute;
    top: 10px;
    left: 14px;
    font-weight: bold;
    font-size: 15px;
    color: #333;
}
