body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  
.card {
    background: #f0f0f0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    max-width: 350px;
    overflow: hidden;
}

.card img {
    width: 100%;
    display: block;
}

.card-container {
    padding: 1em;
}

.card-container h2 {
    font-size: 17px;
    margin-bottom: 0.5em;
}

.card-container p {
    font-size: 15px;
    color: #333;
    line-height: 1.4;
    margin-bottom: 1em;
}

.card-content .source {
  font-size: 0.8em;
  color: #000;
}

.card-container a {
  color: #0073e6;
  font-style: italic;
  text-decoration: none;
  font-size: 0.8em;

  display: inline-block;     
  max-width: 250px;           
  white-space: nowrap;       
  overflow: hidden;          
  text-overflow: ellipsis; 
}
