* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    color: wheat;
    font-size: 40px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 5px;
}

li:hover{
    background-color: white;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: center;
    gap: 100px;
}
  
nav {
    background-color: rgb(162, 159, 159);
    padding: 40px 20px;
}